@{
    ViewData["Title"] = "My Hobby";
}

<div class="text-center">
    <h1 class="display-4">My Hobby!</h1>
    <p>One of my favorite hobbies is <span style="color: #0d6efd; font-size: large;">skiing!</span></p>

    <img src="~/img/imgSki1.webp" height="400" alt="Ski 1 photo" id="imgSki1"/>
    <img src="~/img/imgSki2.JPG" height="400" alt="Ski 2 photo" id="imgSki2"/>
    
    <br/>
    <br/>
    <h3>History of skiing</h3>
    <p>
        Skiing has a history of almost five millennia.
        Although modern skiing has evolved from beginnings in Scandinavia,
        it may have been practiced more than 100 centuries ago in the Altai Mountains,
        according to an interpretation of ancient paintings.
        However, this continues to be debated.
        The word "ski" comes from the Old Norse word "skíð" which means to "split piece
        of wood or firewood".
    </p>
    <br/>
    <h3>Why I love skiing</h3>
    <p>
        I started skiing when I was 8 years old. Since I grew up in Salt Lake, I had multiple
        ski resorts close to my house. Every winter I would go skiing with my dad and other siblings.
        Saturdays were our days to skip out on chores and go have with dad!
        If we were lucky and there was a good powder day we would skip school and go hit the slopes.
        I also went skiing a lot with friends, and so I tie skiing with being with the people I love.
        It was a way for all of us to have fun while also spending time with each other!
    </p>
    <br/>
    <h3>Where do I go skiing?</h3>
    <p>
        Snowbird is the place to ski! Offering 3,240 vertical feet of award-winning terrain to
        be enjoyed by all skill levels of skiers and riders, Snowbird averages 500" of snow
        annually. This resort is about 30 minutes away from my house so it was easy to pack up the 
        car and head to the mountain. The resort has a wide variety of terrain for everyone to
        enjoy time on the slopes. Intermediate and advanced skiers will find endless opportunities 
        in the Bird’s winter playground while beginners have options all over the mountain to hone in their skills.
    </p>
</div>